/*
  scholarly
    styles
      * main.css
   +---------------------------------------------------------------------------
    * main.css
      => Styles across the 'scholarly' app.
   ---------------------------------------------------------------------------+
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

#viewport {
  background-image: url('/assets/images/bg-mobile.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 25% 0;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}

#viewport #view-header {
  background: rgb(50, 50, 50);
  position: absolute;
  height: 10%;
  width: 100%;
}

#viewport #view-header #logo-container {
  position: absolute;
  height: calc(100% + 6px);
  width: 20%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;
}

#viewport .view-content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sliding-content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

.centered {
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.v-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-text {
  font-size: 2rem;
  text-shadow: 1px 1px black;
}

.btn-nav {
  display: inline-block;
  border-radius: 100%;
  width: 66px;
  height: 66px;
}

/* HEADER DISPLAY NAME
  ========================================================================== */
#header-display-name {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 2.5rem;
}

#header-display-name #btn-sign-out {
  position: absolute;
  top: 0; right: 0;
  height: 2.5rem;
  line-height: 2.5rem;
  opacity: 0.9;
  font-size: 1.2rem;
  border-left: 1px solid gray;
  width: 10%;
  text-align: center;
}

/* MAIN NAV
  ========================================================================== */
#main-nav {
  position: fixed;
  right: 0; bottom: 0; left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 10%;
  padding: 12px;
  z-index: 4;
}

#main-nav #main-nav-header {
  display: none;
}

#main-nav .main-nav-item {
  font-size: 1.5rem;
  border-right: 1px solid gray;
}

#main-nav .main-nav-item.last {
  border-right: none;
}

#main-nav .main-nav-item .desktop {
  display: none;
}

#main-nav-modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

#main-nav-modal .modal-box {
  box-shadow: 1px 1px 80px black;
}

#main-nav-modal .modal-header,
#main-nav-modal .modal-footer-2 {
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
}

#main-nav-modal .modal-header {
  text-align: center;
}

#main-nav-modal .modal-header-icon {
  position: absolute;
  right: 12px;
}

#main-nav-modal .body {
  text-align: center;
  padding: 1.5rem 0;
}

#main-nav-modal .modal-footer-2 {
  display: grid;
  text-shadow: 1px 1px black;
  grid-template-columns: 1fr 1fr;
}


/* THEMATIC STYLING
  ========================================================================== */
.bg-light {
  background: rgb(100, 100, 100);
}

.bg-gray {
  background: rgb(75, 75, 75);
}

.bg-dark {
  background: rgb(50, 50, 50);
}

.bg-darker {
  background: rgb(37, 37, 37);
}

.bg-slate {
  background: rgb(25, 25, 25);
}

.bga-light {
  background: rgba(225, 225, 225, 0.2);
}

.bga-light-desktop {
  /* styled in media query */
}

.bga-gray {
  background: rgba(25, 25, 25, 0.4);
}

.bga-dark {
  background: rgba(25, 25, 25, 0.7);
}

.bga-slate {
  background: rgba(25, 25, 25, 0.9);
}

.bga-correct {
  background: rgba(120, 219, 119, 0.5);
}

.bga-wrong {
  background: rgba(208, 40, 40, 0.5);
}

.bga-moderate {
  background: rgba(255, 215, 0, 0.5);
}

.bga-prog {
  background: rgba(60, 203, 59, 0.5);
}

.bga-theme {
  background: rgba(255,85,0, 0.5);
}

.txt-theme {
  color: rgb(255, 136, 77) !important;
}

.txt-warning {
  color: red;
}

.txt-correct {
  color: rgb(60, 203, 59);
}

.txt-wrong {
  color: rgb(244, 40, 40);
}

.bg-theme {
  background: rgb(255, 85, 0);
}

.bg-theme-gradient {
  background: linear-gradient(30deg, rgb(255, 85, 0), rgb(255, 136, 77));
}

/* MEDIA QUERIES
  ========================================================================== */

/*
  screen width > 480px (mobile landscape)
*/
@media only screen and (min-width: 480px) {
  #viewport #view-header #logo-container {
    width: 15%;
  }

  #viewport #view-header #header-info {
    left: 15%;
  }
}

/*
  screen width > 768px (tablet, laptop, etc.)
*/
@media only screen and (min-width: 768px) {
  #viewport .view-content {
    margin-left: 20%;
    width: 80%;
  }

  #main-nav {
    position: fixed;
    top: 2.5rem;
    width: 20%;
    display: block;
    height: 100%;
    z-index: 4;
    padding: 0;
  }

  #main-nav-modal .modal-box {
    box-shadow: 1px 1px 80px black;
    width: 60%;
  }

  #main-nav #main-nav-header {
    display: block;
    font-size: 2.5rem;
    border-bottom: 1px solid rgb(255, 136, 77);
    height: 10%;
  }

  #main-nav .main-nav-item {
    position: relative;
    font-size: 1.5rem;
    border-right: none;
    border-bottom: 1px solid rgba(75, 75, 75, 0.7);
    padding: 12px 0;
  }

  #main-nav .main-nav-item .mobile {
    display: none;
  }

  #main-nav .main-nav-item .desktop {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
    line-height: 1.5rem;
  }

  #main-nav .main-nav-item .desktop .txt-menu {
    font-size: 60%;
    text-align: left;
    opacity: 0.4;
  }

  #main-nav .main-nav-item .desktop .txt-menu.active {
    opacity: 1;
  }

  .bga-light-desktop {
    background: rgba(225, 225, 225, 0.2);
  }

  .bga-slate-desktop {
    background: rgba(25, 25, 25, 0.9);
  }

  .btn:hover {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    background: rgba(75, 75, 75, 0.6);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(25, 25, 25, 0.4);
  }
}
