<!--
  scholarly
    app
      templates
        * landing.signup.html
-->

<form name="signUpForm" id="signup-form" class="input-form">
  <!-- Form Input -->
  <section class="form-input bga-gray">
    <div class="input-content">
      <header class="logo-title">
        <div class="logo ion-university bg-theme"></div>
      </header>
      <div class="input-error" ng-show="landing.inputError">
        <span class="ion-alert-circled txt-warning"></span> {{ landing.inputError }}
      </div>
      <div ng-class="{'border-error': inputError}">
        <input type="text" id="input-sign-up-display-name" class="border-round-top" placeholder="display name" name="signUpDisplay" ng-model = "landing.signUpUser.displayName" required>
        <input type="email" id="input-sign-up-email" placeholder="email address" name="signUpEmail" ng-model="landing.signUpUser.email" required>
        <input type="password" id="input-sign-up-password" class="border-round-bottom" placeholder="password" name="signUpPassword" ng-model="landing.signUpUser.password" required>
      </div>
    </div>
  </section>
  <!-- Form Submit -->
  <section class="form-submit bga-dark">
    <div class="btn-submit">
      <input type="submit" value="Sign Up"
        ng-click="landing.btnSignUp()"
        ng-disabled="!signUpForm.$valid"
        ng-class="{'bg-theme active': signUpForm.$valid, 'bg-gray inactive': !signUpForm.$valid}">
    </div>
  </section>
</form>
<!-- Close Button -->
<div class="btn-close ion-close-round"
  ng-click="landing.btnClose()">
</div>
