<!--
  scholarly
    app
      templates
        * landing.passwordresetmodal.html
-->

<form id="modal-forgot-password" name="forgotPassword" class="bga-gray"
  ng-click="landing.btnCloseForgotPasswordModal()"
  ng-show="landing.openForgotEmailModal" >
  <div id="modal-box" class="bg-gray centered" onclick="event.stopPropagation();">
    <header id="modal-header" class="bg-slate">
      Reset Password
    </header>
    <div id="reset-instructions">
      <span ng-show="landing.showPasswordResetRequest()">Requesting..</span>
      <span ng-show="landing.showPasswordResetPrompt()">Type in your Scholarly account email and we'll send you instructions to reset your password.</span>
      <span ng-show="landing.forgotPasswordErrorMsg"><span class="ion-alert-circled txt-warning"></span> {{ landing.forgotPasswordErrorMsg }}</span>
      <span ng-show="landing.forgotPasswordSuccess">Email sent! Check your email to reset your password.</span>
    </div>
    <div id="modal-body" ng-show="!landing.sendingEmailPasswordReset && !landing.forgotPasswordSuccess">
      <input type="email" placeholder="email address" ng-model="landing.emailForgot" required>
    </div>
    <footer id="modal-footer" ng-class="{success: landing.forgotPasswordSuccess}">
      <button type="submit" value="" ng-click="landing.btnForgotPassword()" ng-disabled="forgotPassword.$invalid"
        ng-class="{'bg-theme active': forgotPassword.$valid, 'bg-slate inactive': forgotPassword.$invalid}"
        ng-show="!landing.forgotPasswordSuccess">
        <div class="ion-email"></div>
      </button>
      <div class="bg-slate" ng-click="landing.btnCloseForgotPasswordModal()">
        <div class="centered" ng-class="{'ion-close-round': !landing.forgotPasswordSuccess, 'ion-checkmark-round txt-theme': landing.forgotPasswordSuccess}"></div>
      </div>
    </footer>
  </div>
</form>
