<!--
  scholarly
    app
      templates
        * landing.login.html
-->

<form name="logInForm" id="login-form" class="input-form">
  <!-- Form Input -->
  <section class="form-input bga-dark">
    <div class="input-content">
      <header class="logo-title">
        <div class="logo ion-university bg-theme"></div>
      </header>
      <div class="input-error" ng-show="landing.inputError">
        <span class="ion-alert-circled txt-warning"></span> {{ landing.inputError }}
      </div>
      <div ng-class="{'border-error': inputError}">
        <input type="email" id="input-log-in-email" class="border-round-top" placeholder="email address" name="logInEmail" ng-model="landing.logInUser.email" required>
        <input type="password" id="input-log-in-password" class="border-round-bottom" placeholder="password" name="logInPassword" ng-model="landing.logInUser.password" required>
      </div>
      <div id="forgot-email" ng-click="landing.btnOpenForgotPasswordModal()">
        Forgot your password?
      </div>
    </div>
  </section>
  <!-- Form Submit -->
  <section class="form-submit bga-slate">
    <div class="btn-submit">
      <input type="submit" value="Log In"
        ng-click="landing.btnLogIn()"
        ng-disabled="!logInForm.$valid"
        ng-class="{'bg-theme active': logInForm.$valid, 'bg-gray inactive': !logInForm.$valid}">
    </div>
  </section>
</form>
<!-- Close Button -->
<div class="btn-close ion-close-round"
  ng-click="landing.btnClose()">
</div>
