<!--
  scholarly
    app
      templates
        * mainnav.html
-->
<section id="main-nav" class="bga-slate" ng-controller="MainNavCtrl as nav">
  <!-- Sign Out Modal -->
  <div id="main-nav-modal" class="bga-dark" ng-show="nav.openSignOut">
    <div class="modal-box centered">
      <!-- Header: Prompt -->
      <header class="modal-header bg-slate">
        <div class="modal-header-icon ion-person txt-theme"></div>
        Sign Out
      </header>
      <!-- Body: Sign Out -->
      <div class="body bg-dark">
        Sign out of current session?
      </div>
      <!-- Footer: Sign Out / Close Buttons -->
      <footer class="modal-footer-2">
        <!-- Sign Out -->
        <div class="btn bg-slate" ng-click="nav.btnSignOut()">
          <div class="ion-log-out centered txt-theme"></div>
        </div>
        <!-- Close -->
        <div class="btn bg-darker" ng-click="nav.btnCloseSignOutModal()">
          <div class="ion-close-round centered"></div>
        </div>
      </footer>
    </div>
  </div>

  <!-- Btn: Words -->
  <div class="main-nav-item bg-slate" ng-click="nav.btnGoToWords()">
    <!-- Main Nav Item Content: Mobile -->
    <div class="ion-university centered mobile" ng-class="{'txt-theme': nav.currentStateIs('words')}">
    </div>
    <!-- Main Nav Item Content: Desktop -->
    <div class="desktop btn">
      <span class="ion-university" ng-class="{'txt-theme': nav.currentStateIs('words')}"></span> <span class="txt-menu">Words</span>
    </div>
  </div>
  <!-- Btn: Quiz -->
  <div class="main-nav-item bg-slate" ng-click="nav.btnGoToQuiz()">
    <!-- Main Nav Item Content: Mobile -->
    <div class="ion-flash centered mobile" ng-class="{'txt-theme': nav.currentStateIs('quiz')}">
    </div>
    <!-- Main Nav Item Content: Desktop -->
    <div class="desktop btn">
      <span class="ion-flash" ng-class="{'txt-theme': nav.currentStateIs('quiz')}"></span> <span class="txt-menu">Quiz</span>
    </div>
  </div>
  <!-- Btn: Account -->
  <div class="main-nav-item bg-slate" ng-click="nav.btnOpenSignOut()">
    <!-- Main Nav Item Content: Mobile -->
    <div class="ion-person centered mobile" ng-class="{'txt-theme': nav.currentStateIs('account')}">
    </div>
    <!-- Main Nav Item Content: Desktop -->
    <div class="desktop btn">
      <span class="ion-person" ng-class="{'txt-theme': nav.currentStateIs('account')}"></span> <span class="txt-menu">Sign Out</span>
    </div>
  </div>
</section>
