<!--
  scholarly
    app
      templates
        * quiz.html
-->

<main id="viewport">
  <!-- App Navigation -->
  <!-- <ng-include src="'/templates/appnav.html'"></ng-include> -->
  <!-- Words Content -->
  <section id="quiz-content" class="view-content bga-dark">
    <div id="quiz-progress">
      <div id="progress-bar" class="header-bar bga-gray">
        <div id="progress-bar-bg"></div>
        <div id="progress-bar-thumb"></div>
        <div class="ion-flash bg-theme" ng-click="quiz.btnTest()"></div>
        quizProgIndex = <span class="ion-checkmark-round" ng-class="{'txt-theme': quiz.instance}"></span>
      </div>
    </div>
    <header id="header-quiz-word" class="bga-dark">
      <div class="word-name v-centered txt-theme">
        <div class="ion-university bg-theme" ng-click="quiz.btnProg()"></div>
      </div>
    </header>
    <ul class="word-list" ng-show="false">
      <li ng-repeat="option in quiz.record[quiz.quizProgIndex].options" class="word-item">
        <div class="word-metrics bga-dark">
          <div class="btn-metric btn">
            <div class="centered">
              <span class="ion-arrow-right-a"></span>
            </div>
          </div>
        </div>
        <div class="connected">
          <div class="connected-wire"></div><div></div>
        </div>
        <div class="word-details bga-gray">
          {{ answer }}
        </div>
      </li>
    </ul>
  </section>
</main>
