<!--
  scholarly
    app
      templates
        * words.addword.modal.html
-->

<!-- Add Word Confirm Modal -->
<div class="modal bga-dark"
  ng-show="words.pendingWordToAdd">
  <div class="modal-box v-centered">
    <!-- Header: Prompt -->
    <header class="modal-header bg-slate">
      <div class="modal-header-icon txt-theme"
        ng-class="{'ion-plus-round': !words.pendingWordToReplace, 'ion-arrow-swap': words.pendingWordToReplace}"></div>
      <span ng-show="!words.pendingWordToReplace">Add Word</span>
      <span ng-show="words.pendingWordToReplace">Replace Word?</span>
    </header>

    <!-- Body: Old Word (in event of replace) -->
    <div class="word-item remove bg-dark" ng-show="words.pendingWordToReplace">
      <!-- Word Info -->
      <div class="word-info">
        <!-- Word Name -->
        <header class="word-name bga-dark">
          {{ words.searchAddWord }}
          <span class="modal-header-icon ion-minus-round txt-wrong"
            ng-show="words.pendingWordToReplace"></span>
        </header>
        <!-- Word Details -->
        <div class="word-details bga-wrong">
          <div class="part-of-speech">
            {{ words.pendingWordToReplacePartOfSpeech }}
          </div>
          <div class="definition">
            {{ words.pendingWordToReplaceDef }}
          </div>
        </div>
      </div>
    </div>

    <!-- Body: Add Word -->
    <div class="word-item bg-dark">
      <!-- Word Info -->
      <div class="word-info">
        <!-- Word Name -->
        <header class="word-name bga-dark">
          {{ words.searchAddWord }}
          <span class="modal-header-icon ion-plus-round txt-correct"
            ng-show="words.pendingWordToReplace"></span>
        </header>
        <!-- Word Details -->
        <div class="word-details bga-correct">
          <div class="part-of-speech">
            {{ words.pendingWordToAdd.partOfSpeech }}
          </div>
          <div class="definition">
            {{ words.pendingWordToAdd.definition }}
          </div>
        </div>
      </div>
    </div>
    <!-- Footer: Confirm / Cancel Buttons -->
    <footer class="modal-footer">
      <!-- Confirm -->
      <div class="btn bg-dark" ng-click="words.btnAddWord()">
        <div class="ion-checkmark-round centered txt-theme"></div>
      </div>
      <!-- Cancel -->
      <div class="btn bg-slate" ng-click="words.btnCloseAddWordModal()">
        <div class="ion-close-round centered"></div>
      </div>
    </footer>
  </div>
</div>
