<!--
  scholarly
    app
      templates
        * words.editwordmodal.html
-->

<!-- Edit Word Modal -->
<div class="modal bga-dark"
  ng-show="words.editWord">
  <div class="modal-box centered">
    <!-- Header: Prompt -->
    <header class="modal-header bg-slate">
      <div class="ion-edit modal-header-icon txt-theme"></div>
      Edit Word
    </header>
    <!-- Body: Old Word (in event of replace) -->
    <div class="word-item remove bg-dark" ng-show="words.pendingWordToReplace">
      <!-- Word Info -->
      <div class="word-info">
        <!-- Word Name -->
        <header class="word-name bga-dark">
          {{ words.editWord.name }}
          <span class="modal-header-icon ion-minus-round txt-wrong"></span>
        </header>
        <!-- Word Details -->
        <div class="word-details bga-light">
          <div class="part-of-speech">
            {{ words.pendingWordToReplacePartOfSpeech }}
          </div>
          <div class="definition">
            {{ words.pendingWordToReplaceDef }}
          </div>
        </div>
      </div>
    </div>
    <!-- Body: Edit Word -->
    <div class="word-item bg-dark">
      <!-- Word Info -->
      <div class="word-info">
        <!-- Word Name -->
        <header class="word-name bga-dark">
          {{ words.editWord.name }}
          <span class="modal-header-icon ion-plus-round txt-correct"
            ng-show="words.pendingWordToReplace"></span>
        </header>
        <!-- Word Details -->
        <form name="editWord" class="word-details">
          <select id="select-edit-word" class="part-of-speech bg-slate"
            ng-model="words.editWordPartOfSpeech"
            ng-options="partOfSpeech for partOfSpeech in words.partsOfSpeech" required>
          </select>
          <textarea rows="4" id="textarea-def" class="definition bg-slate" ng-model="words.editWordDef" required></textarea>
        </form>
      </div>
    </div>
    <!-- Footer: Confirm / Cancel Buttons -->
    <footer class="modal-footer-2">
      <!-- Confirm -->
      <button type="submit" form="editWord" id="btn-edit-word" class="btn bg-slate" ng-click="words.btnEditWord()" value="" ng-disabled="editWord.$invalid">
        <div class="ion-edit txt-theme"></div>
      </button>
      <!-- Cancel -->
      <div class="btn bg-dark" ng-click="words.btnCloseEditWordModal()">
        <div class="ion-close-round centered"></div>
      </div>
    </footer>
  </div>
</div>
