<!--
  scholarly
    app
      templates
        * words.userwords.modal.html
-->

<!-- View Word Modal -->
<div class="modal bga-dark" ng-show="words.viewWord && !words.editWord">
  <div class="modal-box v-centered">
    <!-- Header: Prompt -->
    <header class="modal-header bg-slate">
      <div class="modal-header-icon ion-podium txt-theme"></div>
      <span ng-show="!words.removeWordFlag">View Word</span>
      <span ng-show="words.removeWordFlag">Remove Word?</span>
    </header>
    <!-- Body: Add Word -->
    <div class="word-item bg-dark" ng-class="{'remove': words.removeWordFlag}">
      <!-- Word Info -->
      <div class="word-info">
        <!-- Word Name -->
        <header class="word-name bga-dark txt-theme">
          {{ words.viewWord.name }}
          <span class="modal-header-icon ion-minus-round txt-wrong"
            ng-show="words.removeWordFlag"></span>
        </header>
        <!-- Word Extras -->
        <div class="word-details bga-gray" ng-show="words.viewWord.syllables">
          <div class="syllables">
            {{ words.viewWord.syllables }}
          </div>
          <div class="example" ng-show="words.viewWord.example">
            "{{ words.viewWord.example }}"
          </div>
        </div>
        <!-- Word Details -->
        <div class="word-details"
          ng-class="{'bga-light': !words.removeWordFlag, 'bga-wrong': words.removeWordFlag}">
          <div class="part-of-speech">
            {{ words.viewWord.partOfSpeech }}
          </div>
          <div class="definition">
            {{ words.viewWord.definition }}
          </div>
        </div>
      </div>
    </div>
    <!-- Footer: Remove / Edit / Close Buttons -->
    <footer class="modal-footer-3" ng-show="!words.removeWordFlag">
      <!-- Remove -->
      <div class="btn bg-slate" ng-click="words.btnRemoveWord()">
        <div class="ion-trash-a centered"></div>
      </div>
      <!-- Edit -->
      <div class="btn bg-darker" ng-click="words.btnOpenEditWordModal()">
        <div class="ion-edit centered"></div>
      </div>
      <!-- Close -->
      <div class="btn bg-dark" ng-click="words.btnCloseViewWordModal()">
        <div class="ion-close-round centered"></div>
      </div>
    </footer>
    <!-- Footer (Remove): Confirm Remove / Cancel -->
    <footer class="modal-footer-2" ng-show="words.removeWordFlag">
      <!-- Confirm Delete -->
      <div class="btn bg-slate" ng-click="words.btnConfirmRemoveWord()">
        <div class="ion-trash-a centered txt-theme"></div>
      </div>
      <!-- Cancel -->
      <div class="btn bg-dark" ng-click="words.btnCancelRemoveWord()">
        <div class="ion-close-round centered"></div>
      </div>
    </footer>
  </div>
</div>
