<!--
  scholarly
    app
      templates
        * words.html
-->

<main id="viewport">
  <!-- App Navigation -->
  <!-- <ng-include src="'/templates/appnav.html'"></ng-include> -->
  <!-- Words Content -->
  <section id="words-content" class="view-content">
    <!-- Words -->
    <ng-include src="'/templates/words.userwords.html'"
      onload="words.attachBtnOpenAddWordResponsiveness()"></ng-include>
    <!-- Add Word View -->
    <ng-include src="'/templates/words.addword.html'"></ng-include>
  </section>
</main>
