<!--
  scholarly
    app
      templates
        * words.addword.html
-->

<section id="add-word-view" class="sliding-content bga-dark">
  <!-- Add Word Confirm Modal -->
  <ng-include src="'/templates/words.addword.modal.html'"></ng-include>
  <!-- Add Word Input -->
  <header class="header-word-search">
    <form id="form-add-word-search" name="formAddWordSearch" autocomplete="off">
      <input type="text" id="add-word-input" class="bga-dark" name="searchAddWord" autocomplete="off"
        ng-model="words.searchAddWord" placeholder="scholarly" required >
      <button type="submit" class="ion-search btn bg-theme"
        ng-click="words.searchWord()"
        ng-disabled="formAddWordSearch.$invalid"></button>
    </form>
  </header>
  <!-- User Search Feedback -->
  <div id="add-word-search-feedback" class="bga-dark">
    <div class="txt-feedback v-centered">
      <!-- initial prompt -->
      <span ng-show="words.searchResults.length === 0 && !words.searchPending">
        Enter a word to search for.
      </span>
      <!-- search notification -->
      <span ng-show="words.searchPending">
        Searching..
      </span>
      <!-- results response -->
      <span ng-show="words.searchResults.length > 0 && !words.searchErrorFlag">
        Found <span class="txt-theme">{{ words.searchResults.length }}</span> definition<span ng-show="words.searchResults.length > 1">s</span>.
      </span>
      <!-- error response -->
      <span ng-show="words.searchErrorFlag">
        {{ words.searchResults }}
      </span>
    </div>
  </div>
  <!-- Search Results -->
  <div id="search-results-box">
    <ul class="word-list">
      <!-- List Item: Definition -->
      <li class="word-item"
          ng-repeat="result in words.searchResults"
          ng-show="!words.searchErrorFlag"
          ng-class="{'bga-light': words.hasDefForWord(result), 'bga-gray': !words.hasDefForWord(result)}">
        <!-- Button: Open Add Word Modal -->
        <div class="btn-open-add-word-modal bg-slate"
          ng-click="words.btnOpenAddWordModal(result)"
          ng-class="{'btn': !words.hasDefForWord(result)}">
          <div class="centered"
            ng-class="{'ion-cloud': words.hasDefForWord(result), 'ion-plus-round': !words.hasDefForWord(result)}">
          </div>
        </div>
        <!-- Word Details -->
        <div class="word-details">
          <div class="part-of-speech">
            {{ result.partOfSpeech }}
          </div>
          <div class="definition">
            {{ result.definition }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- Button: Navigation -->
  <div id="btn-return-to-words" class="btn-nav btn bg-gray"
    ng-click="words.btnReturnToWords()">
    <div class="ion-arrow-right-c btn-text centered"></div>
  </div>
</section>
