<!--
  scholarly
    app
      templates
        * words.userwords.html
-->
<section id="words-view" class="sliding-content bga-gray">
  <!-- View Word Modal -->
  <ng-include src="'/templates/words.userwords.modal.html'"></ng-include>
  <!-- Search Word Input -->
  <header class="header-word-search">
    <form id="form-user-word-search" autocomplete="off">
      <div id="user-word-search-icon" class="user-word-input-icon ion-search"></div>
      <div id="btn-clear-user-word-search" class="user-word-input-icon ion-close-round btn"
        ng-click="words.clearSearchUserWord()"></div>
      <input type="text" class="bga-dark" autocomplete="off" placeholder="scholarly"
        ng-model="words.searchUserWord" ng-init="" ng-change="words.updateTxtNoticeSearch()">
    </form>
  </header>
  <!-- User Words Sort Panel -->
  <div id="user-word-sort-panel" class="bga-slate">
    <div>
      <div class="txt-feedback v-centered">
        Found <span class="txt-theme">{{ filteredSearch.length }}</span> word<span ng-show="filteredSearch.length === 0 || filteredSearch.length > 1">s</span>.
      </div>
    </div>
    <div id="btn-sort-user-words" class="bg-dark btn" ng-click="words.btnSortUserWords()">
      <!-- Sort: A-Z --->
      <div class="centered" ng-show="words.sortBy === 0">
        A <span class="ion-arrow-swap"></span> Z
      </div>
      <!-- Sort: Z-A --->
      <div class="centered" ng-show="words.sortBy === 1">
        Z <span class="ion-arrow-swap"></span> A
      </div>
      <!-- Sort: numSuccess (lowest to high) --->
      <div class="centered" ng-show="words.sortBy === 2">
        <span class="ion-chevron-down txt-wrong"></span> <span class="ion-flash"></span> <span class="ion-chevron-up txt-correct"></span>
      </div>
      <!-- Sort: numSuccess (highest to low) --->
      <div class="centered" ng-show="words.sortBy === 3">
        <span class="ion-chevron-up txt-correct"></span> <span class="ion-flash"></span> <span class="ion-chevron-down txt-wrong"></span>
      </div>
    </div>
  </div>
  <!-- User Words (may be limited by search result) -->
  <div id="user-words-box">
    <ul class="word-list">
      <!-- List Item: User Word -->
      <li class="word-item bga-gray" ng-repeat="word in words.userWords | filter: words.searchUserWord | orderBy: words.sortByOrder():words.sortByReversed() as filteredSearch">
        <!-- Word Metrics Bar -->
        <div class="word-metrics bga-dark">
          <!-- Metric: Search Word -->
          <div class="btn-metric btn" ng-click="words.btnOpenAddWord(word.name)">
            <div class="centered">
              <span class="ion-search"></span>
            </div>
          </div>
          <!-- Metric: View Word -->
          <div class="btn-metric btn" ng-click="words.btnOpenViewWordModal(word)">
            <div class="centered">
              <span class="ion-gear-a"></span>
            </div>
          </div>
        </div>
        <!-- Word Info -->
        <div>
          <!-- Word Name -->
          <header class="word-name bga-dark txt-theme">
            {{ word.name }}
            <div class="word-success-rate bga-gray">
              <span class="ion-flash txt-theme"></span> {{ word.successRate | number: 0 }}%
            </div>
          </header>
          <!-- Word Details -->
          <div class="word-details">
            <div class="part-of-speech">
              {{ word.partOfSpeech }}
            </div>
            <div class="definition">
              {{ word.definition }}
            </div>
          </div>
        </div>
      </li>
      <!-- No Match Found Message -->
      <li class="word-item bga-gray" ng-show="words.userWords.length > 0 && filteredSearch.length === 0">
        <!-- Word Metrics Bar -->
        <div class="word-metrics btn info bg-slate"
          ng-click="words.btnOpenAddWord(words.searchUserWord)">
          <div>
            <div class="ion-search centered txt-theme"></div>
          </div>
        </div>
        <!-- Word Info -->
        <div class="word-info">
          <!-- Word Name -->
          <header class="word-name info bg-dark">
            <span class="ion-alert-circled txt-theme"></span> No match
          </header>
          <!-- Word Details -->
          <div class="word-details">
            <div class="definition info">
              Search our database.
            </div>
          </div>
        </div>
      </li>
      <!-- No Words Found Message -->
      <li class="word-item bga-gray" ng-show="words.userWords.length === 0">
        <!-- Word Metrics Bar -->
        <div class="word-metrics btn info bg-slate"
          ng-click="words.btnOpenAddWord()">
          <div>
            <div class="ion-search centered txt-theme"></div>
          </div>
        </div>
        <!-- Word Info -->
        <div class="word-info">
          <!-- Word Name -->
          <header class="word-name info bg-dark">
            <span class="ion-cloud txt-theme"></span>
          </header>
          <!-- Word Details -->
          <div class="word-details">
            <div class="definition info">
              Search our database to start adding words.
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- Button: Navigation -->
  <div id="btn-open-add-word" class="btn-nav btn bg-theme"
    ng-click="words.btnOpenAddWord()">
    <div class="ion-plus-round btn-text centered"></div>
  </div>
</section>
